{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/realTime.css' %}">
    <link rel="stylesheet" href="{% static 'css/warningPage.css' %}">
    <title>실시간</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <!--login header-->
    <header>
      <div class="logo">
        <a href="{% url 'fileUpload' %}">
          <img src="{% static 'images/logo.jpg' %}" alt="VOV 로고">
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="{% url 'fileUpload' %}">사진/동영상</a></li>
          <li><a href="{% url 'realTimeDeidentificationApp:realTime' %}">실시간</a></li>
          {% if request.session.user_id %}
          {% csrf_token %}
          <li><a href="{% url 'myPhotoApp:myphoto' %}">내사진</a></li>
          {% endif %}
        </ul>
      </nav>
      <div class="header-buttons">
        {% if request.session.user_id %}
        {% csrf_token %}
          <button class="login-button"><a href="{% url 'userManagingApp:logout' %}">로그아웃</a></button>
          <button class="signup-button"><a href="{% url 'userManagingApp:myPage' %}">마이페이지</a></button>
        {% else %}
        {% csrf_token %}
          <div class="header-buttons">
          <button class="login-button"><a href="{% url 'userManagingApp:login' %}">로그인</a></button>
          <button class="signup-button"><a href="{% url 'userManagingApp:signup' %}">회원가입</a></button>
        </div>
        {% endif %}
      </div>
    </header>

      <div class="pageTitle">
        <h1>실시간</h1>
      </div>
      <!--content-->
      <div class="container">
        <video id="webcam" autoplay></video>
      </div>
      <div class="webcam-icon">
        <ul>
          <li><img src="{% static 'icon/video_icon.png' %}" alt="영상버튼" id="recordButton"></li>
          <li><img src="{% static 'icon/photo_icon.png' %}" alt="사진찰영버튼" id="captureButton"></li>
        </ul>
      </div>
      <!--알림창-->
      <div class="modal">
        <div class="modal-wrap">
          <div class="modal-danger">
            <div><img src="{% static 'icon/warning.png' %}" alt="경고 이미지"></div>
            <p id="result">곧 결과가 나타납니다.</p>
            <label>안전한 파일은 전송되지 않습니다.</label>
            <div class="radio1">
                <input type="radio" id="radioButton1" name="radioGroup" onclick="enableEmailInput()" >
                <label for="radioButton1"> 안전해진 파일이 첨부파일로 전송됩니다.</label>
            </div>
            <div class="email">
                <label for="email">
                  <div class="input-email">
                      <input type="email" id="email" name="email" value="{{ user_email }}"  disabled>
                      <button type="button" class="email-button" id="email-button" onclick="sendVerificationCode()" formaction="{% url 'realTimeDeidentificationApp:send_email' %}">전송</button>
                      <img src="{% static 'icon/check.png' %}" class="email_check_success" alt="로딩 중" id="email_check_success" style="display:none; margin: 0;">
                  </div>
                </label>
            </div>
            <div class="radio2">
                <input type="radio" id="radioButton2" name="radioGroup">
                <label for="radioButton2">안전해진 파일이 로컬 디렉토리에 저장됩니다.</label>
            </div>
            <button type="submit" id="file_save" onClick="performDownloadOperation();">저장</button>
            <button type="submit" onClick="popClose();">닫기</button>
          </div>
        </div>
      </div>
      <!--footer-->
      <footer id="footer">
            <div>
              <p><a href=""><img src="{% static 'images/Footer_logo.png' %}" alt="vov"></a></p>
              <p>NOMERCY 주식회사<br>
                서울특별시 서초구 서초대로74길 33<br>
                사업자등록번호 230-10-09270<br>
                고객상담 : 1588 - 1234</p>
              <p>Copyright ⓒ VOV Corp. All rights reserved.</p>
            </div>
      </footer>
    <!-- JavaScript 파일 추가 -->
    <!-- 웹캠 녹화, 촬영 -->
    <script>
      // 웹캠 영상 표시
      async function setupCamera() {
        const constraints = { video: true };
        try {
            const stream = await navigator.mediaDevices.getUserMedia(constraints);
            const videoElement = document.getElementById('webcam');
            videoElement.srcObject = stream;
        } catch (error) {
            console.error('카메라를 사용할 수 없습니다:', error);
        }
      }
      // 페이지 로드 시 웹캠 설정
      window.addEventListener('load', () => {
        setupCamera();
      });
      function sleep(ms) {
        return new Promise((r) => setTimeout(r, ms));
      }
      function popOpen() {
        var modal = document.querySelector('.modal');
        modal.style.display = 'block';
      }
      function popClose() {
        var modalNone = document.querySelector('.modal');
        modalNone.style.display = 'none';
        fetch('close/', {
          method: 'POST',
        })
      }
      let clickCount = 0;
      // 라디오 버튼
      document.addEventListener('DOMContentLoaded', function() {
        var radioButtons = document.querySelectorAll('input[type="radio"]');
        radioButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                if (this.checked) {
                    // 다른 라디오 버튼의 선택 상태를 해제
                    radioButtons.forEach(function(otherButton) {
                        if (otherButton !== button) {
                            otherButton.checked = false;
                        }
                    });
                }
            });
        });
      });
      // 다운로드
      function saveFileLocally() {
        fetch('download/', {
          method: 'POST',
        })
        .then(response => {
          if (response.ok) {
            alert('사진이 바탕화면에 저장되었습니다.');
          } else {
            alert('사진 저장 중 오류 발생');
          }
        })
        .catch(error => {
          alert('사진 저장 중 오류 발생');
        });
      }
        function performDownloadOperation() {
            saveFileLocally();
            popClose();
      }
      // 이메일 전송
      let isEmailSent = false; // 이메일 전송 여부를 저장하는 변수
      function sendVerificationCode() {
        const email = document.getElementById("email").value;
        const csrf_token = document.getElementsByName('csrfmiddlewaretoken')[0].value;
        const emailButton = document.querySelector('.email-button');
        const emailCheckSuccess = document.getElementById('email_check_success');
        emailButton.style.display = 'inline-block';
        emailCheckSuccess.style.display = 'none';
        // 코드가 입력되지 않았을 경우
        if (!email) {
            alert("이메일을 입력해주세요.");
            return;
        }
        if (isEmailSent) {
            return; // 이미 이메일이 전송된 경우 아무것도 하지 않음
        }
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/realTime/send_email/", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader("X-CSRFToken", csrf_token);
        xhr.onload = function () {
            if (xhr.status >= 200 && xhr.status < 400) {
                const data = JSON.parse(xhr.responseText);
                if ('message' in data) {
                    alert(data.message);
                    emailButton.style.display = 'none';
                    emailCheckSuccess.style.display = 'inline-block';
                    isEmailSent = true; // 이메일 전송 성공 시 변수를 true로 설정
                } else if ('error' in data) {
                    alert(data.error);
                }
            } else {
                alert("이메일 전송에 실패했습니다.");
            }
        };
        xhr.send("email=" + email);
      }
      const emailInput = document.getElementById("email");
      if (emailInput) {
        emailInput.addEventListener("input", function () {
          isEmailSent = false; // 이메일이 변경되면 다시 전송 상태로 돌아가도록 변수를 false로 설정
          const successImage = document.getElementById('email_check_success');
          successImage.style.display = 'none'; // 이미지 숨기기
          const verifyButton = document.querySelector('.email-button');
          verifyButton.style.display = 'inline-block'; // 버튼 보이기
        });
      }
      function enableEmailInput() {
        const radioButton1 = document.getElementById('radioButton1');
        const radioButton2 = document.getElementById('radioButton2');
        const emailInput = document.getElementById('email');
        const emailButton = document.querySelector('.email-button');
        const emailCheckSuccess = document.getElementById('email_check_success');
        
        if (radioButton1.checked) {
            emailInput.disabled = false;
            emailInput.style.visibility = 'visible'; // 이메일 입력 필드를 숨기지 않고 보이게 설정
            emailButton.style.display = 'inline-block';
            emailCheckSuccess.style.display = 'none';
        } else if (radioButton2.checked) {
            emailInput.disabled = true;
            emailInput.style.visibility = 'hidden'; // 이메일 입력 필드를 숨김
            emailInput.value = '';
            emailButton.style.display = 'none';
            emailCheckSuccess.style.display = 'none';
        }
      }
      const radioBtn1 = document.getElementById("radioButton1");
      const radioBtn2 = document.getElementById("radioButton2");
      if (radioBtn1) {
        radioBtn1.addEventListener('click', enableEmailInput);
      }
      if (radioBtn2) {
        radioBtn2.addEventListener('click', enableEmailInput);
      }

      const video = document.getElementById("webcam");
      const captureButton = document.getElementById("captureButton");
      video.style.transform = "scaleX(-1)";
      captureButton.addEventListener("click", () => {
        const canvas = document.createElement("canvas");
        canvas.width = video.videoWidth;
        canvas.height = video.videoHeight;
        const ctx = canvas.getContext("2d");
        ctx.drawImage(video, 0, 0, canvas.width, canvas.height);
        canvas.toBlob(
          (blob) => {
            const formData = new FormData();
            formData.append("image", blob, "captured_image/captured_image.jpg");
            fetch("/realTime/upload_image/", {
              method: "POST",
              body: formData,
            })
              .then((data) => {
                console.log(data);
                popOpen();
              })
              .catch((error) => {
                console.error("이미지 업로드 오류:", error);
              });
          }, "image/jpeg", 1);
        video.style.transition = "opacity 0.5s ease-in-out";
        video.style.opacity = 0; // 비디오를 투명하게 만듭니다.
        // 0.3초 후에 다시 비디오를 보이게 합니다.
        setTimeout(function () {
          video.style.opacity = 1; // 비디오를 다시 보이게 합니다.
        }, 300);
      });
      const recordButton = document.querySelector("#recordButton");
      let mediaRecorder;
      let recordedChunks = [];
      let isRecording = false;
      navigator.mediaDevices
        .getUserMedia({ video: true })
        .then((stream) => {
          video.srcObject = stream;
          mediaRecorder = new MediaRecorder(stream);
          mediaRecorder.ondataavailable = (e) => {
            if (e.data.size > 0) {
              recordedChunks.push(e.data);
            }
          };
          mediaRecorder.onstop = () => {
            const blob = new Blob(recordedChunks, { type: "video/mp4" });
            const url = URL.createObjectURL(blob);
            uploadVideoToServer(blob);
          };
          recordButton.addEventListener("click", () => {
            if (isRecording) {
              mediaRecorder.stop();
              video.style.transition = "opacity 0.5s ease-in-out";
              video.style.opacity = 0; // 비디오를 투명하게 만듭니다.
              // 0.5초 후에 다시 비디오를 보이게 합니다.
              setTimeout(function () {
                video.style.opacity = 1; // 비디오를 다시 보이게 합니다.
              }, 300);
            } else {
              recordedChunks = [];
              mediaRecorder.start();
              video.style.transition = "opacity 0.5s ease-in-out";
              video.style.opacity = 0; // 비디오를 투명하게 만듭니다.
              // 0.5초 후에 다시 비디오를 보이게 합니다.
              setTimeout(function () {
                video.style.opacity = 1; // 비디오를 다시 보이게 합니다.
              }, 300);
            }
            isRecording = !isRecording;
          });
        })
        .catch((error) => {
          console.error("웹캠을 사용할 수 없습니다.", error);
        });
      function uploadVideoToServer(blob) {
        const formData = new FormData();
        formData.append("video", blob, "video.mp4");
        fetch("/realTime/upload_video/", {
          method: "POST",
          body: formData,
        })
          .then((data) => {
            console.log("파일 업로드 완료:", data);
            alert('동영상이 바탕화면에 저장되었습니다.');
          })
          .catch((error) => {
            console.error("파일 업로드 중 오류 발생:", error);
            alert('동영상 저장 중 오류 발생');
          });
      }

      // 이미지 검출 결과를 업데이트하는 함수
      function updateResult(result) {
        $("#result").text(result);
      }

      // 버튼 클릭 이벤트 핸들러
      $("#captureButton").click(function () {
        // detect_image 함수 호출
        $.ajax({
          type: "GET",
          url: "{% url 'realTimeDeidentificationApp:detect_image' %}",  // detect_image의 URL을 지정하세요.
          success: function (data) {
            updateResult(data.result);
          },
          error: function () {
            console.log("에러 발생");
          }
        });
      });
  </script>
  </body>
</html>