<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="https://webfontworld.github.io/gmarket/GmarketSans.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/myPhoto.css' %}?ver=2">
    <title>내사진</title>
</head>

<body>
    <!--login header-->
    <header>
        <div class="logo">
          <a href="{% url 'fileUpload' %}">
            <img src="{% static 'images/logo.jpg' %}" alt="VOV 로고">
          </a>
        </div>
        <nav>
          <ul>
            <li><a href="{% url 'fileUpload' %}">사진/동영상</a></li>
            <li><a href="{% url 'realTimeDeidentificationApp:realTime' %}">실시간</a></li>
            {% if request.session.user_id %}
            {% csrf_token %}
            <li><a href="{% url 'myPhotoApp:myphoto' %}">내사진</a></li>
            {% endif %}
          </ul>
        </nav>
        <div class="header-buttons">
          {% if request.session.user_id %}
          {% csrf_token %}
            <button class="login-button"><a href="{% url 'userManagingApp:logout' %}">로그아웃</a></button>
            <button class="signup-button"><a href="{% url 'userManagingApp:myPage' %}">마이페이지</a></button>
          {% else %}
          {% csrf_token %}
            <div class="header-buttons">
            <button class="login-button"><a href="{% url 'userManagingApp:login' %}">로그인</a></button>
            <button class="signup-button"><a href="{% url 'userManagingApp:signup' %}">회원가입</a></button>
          </div>
          {% endif %}
        </div>
      </header>

    <!-- title and infor -->
    <div class="page-title">
      <h1>내사진</h1>
    </div>

    <div class="gb-text" data-photo-volume=0>
      <ul>
          <li><span>0</span>/10gb</li>
          <li>여유 10gb</li>
      </ul>
    </div>

    
    <form method = "post">
      {% csrf_token %}
      <input type="hidden" name="flag" value="download" id="flag">
      <div class="page-add">
          <div class="progress-container">
          <div class="progress-bar" id="progress"></div>
          </div>
          <p class="notice">내사진에 저장된 파일이 아무것도 없습니다</p>
          <button class="down-btn" id="save" type="submit" formaction="{% url 'myPhotoApp:download' %}" disabled>다운로드</button>
          <button class="del-btn" id="delete" type="submit" formaction="{% url 'myPhotoApp:delete' %}" disabled>삭제</button>
      </div>

      <div class="container" style="display: flex; flex-wrap: wrap; justify-content: space-between;">
        
      </div>
      </form>
     

    <!--footer-->
    <footer id="footer">
    <div>
        <p><a href="#"><img src="{% static 'images/Footer_logo.png' %}" alt="vov"></a></p>

        <p>NOMARCY 주식회사<br>
        서울특별시 서초구 서초대로74길 33<br>
        사업자등록번호 230-10-09270<br>
        고객상담 : 1588 - 1234</p>
        <p>Copyright ⓒ VOV Corp. All rights reserved.</p>
    </div>
    </footer>

    <!-- JavaScript 파일 추가 -->
    <script src="{% static 'js/myPhoto.js' %}?ver=2"></script>
</body>
</html>

